

/* Rest of the CSS styles */
.dashboard-container {
  position: relative;
  margin: 20px;
  background-image: url('./admin_pic/keepdata.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section {
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Rest of the CSS styles */


.dashboard-heading {
  color: #333;
}



.section-heading {
  color: #555;
  margin-bottom: 10px;
}

.section:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
