.room-page {
  padding: 20px;
}

.room-details {
  margin-bottom: 20px;
}

.calendar-container {
  width: 300px;
  margin: 0 auto;
}

.room-details {
  padding: 20px;
}

.room-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.home_page_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home_page_title h1 {
  transition: color 0.3s; /* Add transition for smooth color change */
}

.home_page_title h1:hover {
  color: #d41313; /* Change font color when hovering over the title */
}

.image_container {
  position: relative;
  margin: 20px;
}

.bnb_image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.arrow_container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.arrow_button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

.left_arrow {
  margin-right: 10px;
}

.right_arrow {
  margin-left: 10px;
}
